html {
    font-family: "Rubik";
}

.imagem-fundo{
    background-image: url('../imagens/madeira.jpg');
}

.logo{
    width:350px; 
    height:150px;
}

.container{
    margin-top: 50px;
    padding: 50px 0;
    border:1px #343A40 solid;
    background-image: url('../imagens/madeira2.jpg');
    width:50%;
    margin:auto;
    text-align: center;
}
.div-row{
    position:absolute;
    right:520px;
    margin-top:-20px;
}

.botao-edit{
    width:20px;
    height: 20px;
    margin-left:20px;
}

.titulo-principal{
    font-weight: bold;
    font-size: 25px;
    color:#343a40;
}

.paragrafo {
    color:#343a40;
    margin-top:20px;
}

.p-linha{
    margin-top:30px;
}

.botao{
    border: 1px #343a40 solid;
    border-radius:20px;
    background-color: #FFFFFF;
    padding:10px 20px;
    color: #343A40;
    font-weight: bold;
    font-size:20px;
    text-decoration: none;
    margin:25px;
}

.botao:hover{
    background-color: #4CAF50;
    border: 1px #4CAF50 solid;
    color: white;
    transition-duration: 0.75s;
}

.p-botao{
    margin-top: 50px;
}

.container-botao{
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
    display: flex;
    margin-left: auto;
    margin-right:auto;
}